.startForm {
  position: fixed;
  display: inline-grid;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  z-index: 10000;
  transform: translateY(-15.5%);
  &.active {
    transform: translateY(-116%);
  }
}
